[submodule "Downloads/libgd"]
	path = Downloads/libgd
	url = https://github.com/libgd/libgd.git
[submodule "Downloads/OpenSoundMixer"]
	path = Downloads/OpenSoundMixer
	url = https://github.com/altseed/OpenSoundMixer
[submodule "Downloads/glfw"]
	path = Downloads/glfw
	url = https://github.com/glfw/glfw
[submodule "Downloads/libpng"]
	path = Downloads/libpng
	url = https://github.com/glennrp/libpng
[submodule "Downloads/zlib"]
	path = Downloads/zlib
	url = https://github.com/madler/zlib
[submodule "Dev/Cpp/3rdParty/LLGI"]
	path = Dev/Cpp/3rdParty/LLGI
	url = https://github.com/altseed/LLGI
[submodule "Dev/Cpp/3rdParty/stb"]
	path = Dev/Cpp/3rdParty/stb
	url = https://github.com/nothings/stb.git
[submodule "Dev/Cpp/3rdParty/AltseedRHI"]
	path = Dev/Cpp/3rdParty/AltseedRHI
	url = https://github.com/altseed/AltseedRHI.git
[submodule "TestData"]
	path = TestData
	url = https://github.com/effekseer/TestData.git
[submodule "ResourceData"]
	path = ResourceData
	url = https://github.com/effekseer/ResourceData.git
[submodule "Dev/Cpp/3rdParty/spdlog"]
	path = Dev/Cpp/3rdParty/spdlog
	url = https://github.com/gabime/spdlog.git
