# Temporary
build/
.vs/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.suo
*.tlog
*.obj
*.ipch
*.idb
*.log
*.cache
*.user
*.sdf
*.db
*.pdb
*.opendb
*.vspx
*.exp
.DS_Store

[Oo]bj/
CMakeFiles/

Debug*/
Dev/release/*.exe
Dev/release/*.lib
Dev/release/*.dll
Dev/release/*.config
Dev/release/*.xml
Dev/release/*imgui.ini
Dev/release/*runtimeconfig.json
Dev/release/*log.txt
Dev/release/runtimes/
Dev/release/resources/fonts/
Dev/release/resources/icons/
Dev/release/tools/
Dev/release/ref/
Dev/release/createdump
Dev/release/Effekseer*

Dev/Cpp/include/
Dev/Cpp/lib/
Downloads/*/
Dev/Editor/packages/
mono_crash.*.json
mono_crash.*.blob
Script/__pycache__/aceutils.cpython-37.pyc
Tool/fbxsdk

EffekseerTool/