* {
	margin: 0;
	padding: 0;
}
a:hover{
	color: #f00;
}

img {
	border: 0;
}
a img {
	border: 0;
}
body {
	color: #505050;
	background-color: #f8f8f8;
	font-family: sans-serif;
}

h1 {
	font-weight: normal;
	color:#333333;
	padding:20px 10px 10px 10px;
}

h2 {
	font-weight:normal;
	border-color:#333333;
	border-width: 0px 0px 1px 8px;
	border-style: solid;
	color:#333333;
	margin-top: 28px;
	margin-bottom: 10px;
	padding: 4px 10px 4px 10px;
}

h3 {
	font-weight: bolder;
	border-color:#333333;
	border-width: 0px 0px 0px 4px;
	border-style: solid;
	color:#333333;
	margin-top: 20px;
	margin-bottom: 8px;
	padding: 0px 4px 0px 4px;
}

h4 {
	font-weight: bolder;
	color:#333333;
	padding: 10px 0px 4px 0px;
}

div.main {
	background-color: #FFFFFF;
	font-weight: normal;
	width: 900px;
	border-style: solid;
	border-color: #333333;
	border-width: 1px;
	padding: 16px;
	margin: 8px;
	line-height: 140%;
}

div.main p {
	padding: 4px;
}

div.main table {
	margin: 4px;
}

div.menu {
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #333333;
	border-width: 1px;
	margin: 8px;
	padding: 8px;
	font-size: 90%;
}

ul.menu {
	list-style: none;
	padding-left: 12px;
}

ul.menu li {
	list-style: none;
	padding-top: 12px;
}

ul.submenu {
	list-style: none;
	padding-left: 0px;
}

ul.submenu li {
	list-style: none;
	padding-top: 6px;
}

ul {
	list-style-type: disc;
	padding-left: 24px;
}

ul li {
	padding-top: 4px;
}
