BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
UseTab: Always
BreakBeforeBraces: Allman
ColumnLimit: 140

DerivePointerAlignment: false
PointerAlignment: Left

BinPackArguments: false
BinPackParameters: false

ConstructorInitializerAllOnOneLineOrOnePerLine : true
BreakConstructorInitializersBeforeComma : true
