* {
	margin: 0;
	padding: 0;
}
a:hover{
	color: #f00;
}

img {
	border: 0;
}
a img {
	border: 0;
}
body {
	color: #505050;
	background-color: #f8f8f8;
	font-family: sans-serif;
}

section.level1 {
	background-color: #FFFFFF;
	width: 900px;
	border-style: solid;
	border-color: #333333;
	border-width: 1px;
	margin: 8px;
	line-height: 160%;
}

section.level2 {
	margin: 16px;
	line-height: 160%;
}

h1 {
	background-color: #808080;
	font-weight: bold;
	color:#f0f0f0;
	padding: 20px 20px 20px 20px;
}

h2 {
	font-weight:normal;
	border-color:#333333;
	border-width: 0px 0px 1px 8px;
	border-style: solid;
	color:#333333;
	margin-top: 28px;
	margin-bottom: 10px;
	padding: 4px 10px 4px 10px;
}

h3 {
	font-weight: bolder;
	border-color:#333333;
	border-width: 0px 0px 0px 4px;
	border-style: solid;
	color:#333333;
	margin-top: 20px;
	margin-bottom: 8px;
	padding: 0px 4px 0px 4px;
}

h4 {
	font-weight: bolder;
	color:#333333;
	padding: 10px 0px 4px 0px;
}

div.main {
	background-color: #FFFFFF;
	font-weight: normal;
	width: 900px;
	border-style: solid;
	border-color: #333333;
	border-width: 1px;
	padding: 16px;
	margin: 8px;
	line-height: 140%;
}

p {
	padding: 4px;
}

div.menu {
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #333333;
	border-width: 1px;
	margin: 8px;
	padding: 8px;
	font-size: 90%;
}

ul.menu {
	list-style: none;
	padding-left: 12px;
}

ul.menu li {
	list-style: none;
	padding-top: 12px;
}

ul.submenu {
	list-style: none;
	padding-left: 0px;
}

ul.submenu li {
	list-style: none;
	padding-top: 6px;
}

ul {
	list-style-type: disc;
	padding-left: 24px;
}

ul li {
	padding-top: 4px;
}

td {
	border-style: solid
}

table {
	border-collapse: collapse;
}
table th {
	padding: 6px;
	text-align: center;
	vertical-align: top;
	color: #333;
	background-color: #eee;
	border: 1px solid #b9b9b9;
}
table td {
	padding: 6px;
	background-color: #fff;
	border: 1px solid #b9b9b9;
}

img {
	margin-top: 10pt;
	margin-bottom: 10pt;
}

code {
	display: block;
	margin-top: 10pt;
	margin-bottom: 10pt;
	padding: 6px 6px 10px 10px;
	border: 1px solid #606060;
	background-color: #eee;
	line-height: 1.5;
}